.pull-right {
    float: right;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.pull-right {
    float: right;
}

:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #5867dd;
    --secondary: #ebedf2;
    --success: #34bfa3;
    --info: #36a3f7;
    --warning: #ffb822;
    --danger: #f4516c;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}

nav {
    display: block;
}

h1,
h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

a {
    color: #5867dd;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #2739c1;
    text-decoration: underline;
}

img {
    vertical-align: middle;
    border-style: none;
}

hg-button {
    border-radius: 0;
}

hg-button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

hg-button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

hg-button {
    overflow: visible;
}

hg-button {
    text-transform: none;
}

hg-button,
html [type="button"] {
    -webkit-appearance: button;
}

hg-button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

h1,
h3 {
    margin-bottom: 0.5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.75rem;
}

.col-sm-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.hg-btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.65rem 1rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.hg-btn:hover,
.btn:focus {
    text-decoration: none;
}

.hg-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.25);
}

.hg-btn:disabled {
    opacity: 0.65;
}

.hg-btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.hg-btn-primary {
    color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;
}

.hg-btn-primary:hover {
    color: #fff;
    background-color: #384ad7;
    border-color: #2e40d4;
}

.hg-btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.5);
}

.hg-btn-primary:disabled {
    color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    clip-path: inset(50%);
    border: 0;
}

@media print {
    *,
    *::before,
    *::after {
        text-shadow: none!important;
        box-shadow: none!important;
    }
    a:not(.btn) {
        text-decoration: underline;
    }
    img {
        page-break-inside: avoid;
    }
    p,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h3 {
        page-break-after: avoid;
    }
    body {
        min-width: 992px!important;
    }
    .container {
        min-width: 992px!important;
    }
    .hg-navbar {
        display: none;
    }
}

.hg-btn-primary {
    color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;
}

.hg-btn-primary:hover {
    color: #fff;
    background-color: #384ad7;
    border-color: #2e40d4;
}

.hg-btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(88, 103, 221, 0.5);
}

.hg-btn-primary:disabled {
    color: #fff;
    background-color: #5867dd;
    border-color: #5867dd;
}

@media (min-width: 769px) and (max-width: 992px) {
    html,
    body {
        font-size: 13px;
    }
}

@media (max-width: 768px) {
    html,
    body {
        font-size: 13px;
    }
}

.hg-btn {
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    cursor: pointer;
}

.hg-btn:hover,
.btn:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

hg-nav {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 11px;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333333;
    background-color: #fff;
}

hg-button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.hg-navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

.hg-navbar:before,
.hg-navbar:after {
    content: " ";
    display: table;
}

.hg-navbar:after {
    clear: both;
}

@media (min-width: 768px) {
    .hg-navbar {
        border-radius: 4px;
    }
}

.hg-navbar-toggle {
    position: relative;
    float: right!important;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    min-width: 0px;
}

.hg-navbar-toggle:focus {
    outline: 0;
}

.hg-navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
}

.hg-navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (min-width: 768px) {
    .hg-navbar-toggle {
        display: none;
    }
}

.pull-right {
    float: right!important;
}

@media (max-width: 767px) {
    .hidden-xs {
        display: none!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-sm {
        display: none!important;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-md {
        display: none!important;
    }
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: none!important;
    }
}

body {
    background-image: url(../img/background@2x.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 30px;
    margin-bottom: 24px;
    text-transform: uppercase;
}

p {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.fixed-left {
    width: calc(100vw - 340px);
    margin-left: 340px;
    max-width: 768px;
    padding: 44px;
    background: none!important;
}

@media (max-width: 767px) {
    .fixed-left {
        width: 100vw;
        margin-left: 0;
        padding: 0 12px;
    }
}

#main-wrapper .container {
    width: 100%;
}

.mainlogo {
    height: 32px;
    margin: 16px 0 16px 12px;
}

.hg-navbar {
    background: linear-gradient(to top right, #00CBFF, #3F73F1);
    color: white;
}

.hg-navbar {
    min-height: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.sidenav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidenav-list li {
    margin: 0;
    padding: 0;
    color: white;
}

.sidenav-list li a:link,
.sidenav-list li a:visited {
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-size: 13px;
    display: block;
    color: white;
    padding: 10px 0 10px 30px;
    -webkit-transition: background .125s ease-in;
    transition: background .125s ease-in;
}

.sidenav-list li a:hover {
    background: rgba(255, 255, 255, 0.15);
    border-left: 5px solid rgba(255, 255, 255, 0.25);
    padding-left: 25px;
    text-decoration: none;
}

.sidenav-list li.active {
    background: rgba(255, 255, 255, 0.15);
    border-left: 5px solid rgba(255, 255, 255, 0.25);
    margin-left: -5px;
    text-decoration: none;
}

.hg-sidebar h3 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    color: white;
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
    padding: 32px 0 16px 32px;
}

@media (max-width: 767px) {
    .hg-navbar .hg-navbar-offcanvas {
        background: linear-gradient(to top right, #00CBFF, #3F73F1);
        color: white;
        opacity: 0.97;
        filter: alpha(opacity=97);
    }
    .hg-navbar-offcanvas {
        position: fixed;
        width: 100%;
        max-width: 248px;
        left: -248px;
        top: 0;
        padding-left: 0;
        padding-right: 0;
        z-index: 999;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        -webkit-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }
}

.offcanvas-toggle .icon-bar {
    height: 3px;
    background: #FFF;
    margin-top: 5px;
    border-radius: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.sidenav-list img {
    height: 20px;
    margin-top: -5px;
    padding-right: 12px;
}

.hg-navbar-offcanvas img {
    height: 14px;
    padding-right: 12px;
}

#hard-sidebar {
    position: fixed;
    width: 340px;
    height: 100vh;
    background: linear-gradient(to top right, #00CBFF, #3F73F1);
}

#hard-sidebar .mainlogo {
    height: 52px;
    margin: 62px 0 16px 72px;
}

#hard-sidebar .sidenav-list li a:link,
#hard-sidebar a:visited {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 72px;
}

#hard-sidebar .sidenav-list li a:hover {
    padding-left: 67px;
}

#hard-sidebar h3 {
    margin: 44px 0 24px 72px;
    font-size: 20px;
    color: white;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.card {
    width: 100%;
    background: white;
    padding: 40px 112px;
    margin-bottom: 30px;
    border-radius: 3px;
}

@media (max-width: 767px) {
    .card {
        padding: 40px 24px;
    }
}

.date-badge {
    position: absolute;
    display: block;
    top: 40px;
    left: 15px;
    width: 80px;
    background: #0049A0;
    color: white;
    text-align: center;
    padding: 10px 0;
    font-family: "Lato", sans-serif;
}

.date-badge .month {
    font-size: 14px;
    line-height: 14px;
    height: 14px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.date-badge .date {
    font-size: 21px;
    line-height: 18px;
    height: 18px;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .date-badge {
        width: 60px;
        position: relative;
        float: right;
        top: 20px;
        margin-right: 20px;
    }
}

.btn {
    margin-bottom: 24px;
}

.btn-primary {
    background: #00CBFF;
    background: linear-gradient(to left, #00CBFF, #3F73F1);
    color: white;
    border-radius: 4px;
    text-transform: uppercase;
    width: 100%;
    max-width: 225px;
    border: none;
    height: 40px;
    font-size: 12px;
    -webkit-transition: all .125s ease-in;
    transition: all .125s ease-in;
}

.btn-primary img {
    height: 16px;
    margin-right: 8px;
    -webkit-transition: all .25s ease-in;
    transition: all .25s ease-in;
}

.btn-primary:hover {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary:hover img {
    opacity: 0.5;
}

@media (max-width: 767px) {
    button {
        min-width: 100%;
        margin-top: 10px;
    }
}

/*! CSS Used fontfaces */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local('Lato Light'), local('Lato-Light'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh7USSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v14/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.back-link {
    font-family: "Lato", sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: #0080FF;
    top: -16px;
    position: relative;
}

.back-link:before {
    content: "← ";
}

/* Mobile navbar */

.hg-navbar-offcanvas {
    position: fixed;
    width: 100%;
    max-width: 248px;
    left: -248px;
    top: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 999;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in;
}

.hg-navbar-offcanvas.in {
    box-shadow: 150px 0 100px 400px rgba(0, 0, 0, 0.75);
}

.hg-navbar-offcanvas.offcanvas-transform.in {
    -webkit-transform: translateX(248px);
    transform: translateX(248px);
}

}

.sidenav-list img {
    height: 20px;
    margin-top: -5px;
    padding-right: 12px;
}

.hg-navbar-offcanvas img {
    height: 14px;
    padding-right: 12px;
}

.pull-right {
    float: right!important;
}

.offcanvas-toggle .icon-bar {
    height: 3px;
    background: #FFF;
    margin-top: 5px;
    border-radius: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.offcanvas-toggle.is-open .icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px);
    transform: rotate(45deg) translate(5px, 5px);
}

.offcanvas-toggle.is-open .icon-bar:nth-child(2) {
    opacity: 0;
}

.offcanvas-toggle.is-open .icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px);
    transform: rotate(-45deg) translate(5px, -5px);
}

@media (max-width: 767px) {
    button {
        min-width: 100%;
        margin-top: 10px;
    }
}

.login-form {
    width: calc( 100% - 80px);
    max-width: 400px;
    color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Lato", sans-serif;
    font-size: 13px;
    text-align: center;
}

.login-form input {
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
    padding-left: 0;
    margin-top: 32px;
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.login-form .btn {
    margin-top: 48px;
}

.login-form .form-logo {
    margin: 40px auto;
    width: 111px;
}

.login {
    background-image: url(../img/loginback@2x.jpg);
}

.hg-form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.hg-form-control:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.hg-form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.hg-form-control:-ms-input-placeholder {
    color: #999;
}

.hg-form-control::-webkit-input-placeholder {
    color: #999;
}

.login-form input {
    border-radius: 0;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: white;
    padding-left: 0;
    margin-top: 32px;
}

.login-form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}


/*
.metronics-form label {
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  color: #575757;
  line-height: 14px;
  margin-top: 15px;
}
.metronics-form .hg-form-control {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  margin: 20px 0 20px 0;
  min-width: 150px;
  padding: 0;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #7FBFFF;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../img/icons/dropdown.svg) right center no-repeat white; }
  .metronics-form .hg-form-control:hover {
    cursor: pointer; }
.metronics-form .styled-checkbox {
  position: absolute;
  opacity: 0; }
  .metronics-form .styled-checkbox + label {
    position: relative;
    cursor: pointer;
    padding: 0;
    text-transform: none;
    font-size: 14px;
    font-weight: normal;
    color: #575757;
    margin-bottom: 20px; }
  .metronics-form .styled-checkbox + label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    background: white;
    border: 1px solid #979797;
    border-radius: 5px; }
  .metronics-form .styled-checkbox:hover + label:before {
    background: #0080FF;
    border: none; }
  .metronics-form .styled-checkbox:focus + label:before {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12); }
  .metronics-form .styled-checkbox:checked + label:before {
    background: #0080FF; }
  .metronics-form .styled-checkbox:disabled + label {
    color: #b8b8b8;
    cursor: auto; }
  .metronics-form .styled-checkbox:disabled + label:before {
    box-shadow: none;
    background: #ddd; }
  .metronics-form .styled-checkbox:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
    transform: rotate(45deg); }
.metronics-form .calendar-date {
  background: #FFFFFF;
  border-radius: 2.52px; }
  .metronics-form .calendar-date:hover {
    cursor: pointer; }
  @media (max-width: 767px) {
    .metronics-form .calendar-date {
      width: 100%; } }
  .metronics-form .calendar-date .datepicker {
    box-shadow: 0 0 10px 5px #EDEDED;
    margin-top: 10px;
    padding: 40px; }
  @media (max-width: 767px) {
    .metronics-form .calendar-date .datepicker-days {
      width: 100%; } }
  .metronics-form .calendar-date table {
    width: 100%; }
  .metronics-form .calendar-date .previous-month {
    background: #EFF7FF;
    border-radius: 30px; }
    .metronics-form .calendar-date .previous-month img {
      height: 13px; }
    .metronics-form .calendar-date .previous-month:hover {
      background: #D4DDE7; }
  .metronics-form .calendar-date .next-month {
    background: #EFF7FF;
    border-radius: 30px; }
    .metronics-form .calendar-date .next-month img {
      height: 13px; }
    .metronics-form .calendar-date .next-month:hover {
      background: #D4DDE7; }
  .metronics-form .calendar-date .datepicker-switch {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #6B7897;
    text-align: center; }
  .metronics-form .calendar-date table td {
    text-align: center;
    color: #7C86A2; }
  .metronics-form .calendar-date table th {
    text-align: center; }
  .metronics-form .calendar-date .dow {
    font-size: 12px;
    color: rgba(52, 72, 94, 0.54);
    text-align: center; }
  .metronics-form .calendar-date day {
    font-size: 8px;
    color: #7C86A2;
    text-align: center; }
*/
